.LogoToCollapseDirection {
    flex-direction: column;
}
@media (max-width: 768px) {
    .LogoToCollapseDirection {
      flex-direction: row;
  }
}

ul {
    padding: 0px;
    margin: 10px;
}

.NavBarDirection {
    text-align: right;
    flex-direction: column;
}

.NavBarLogo, .NavBarButton {
    width: 100px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: rgb(50, 50, 50);
    background-color: white;
    text-decoration: none;
    border: 2px solid rgb(50, 50, 50);
}
@media (max-width: 768px) {
    .NavBarLogo {
        margin: 0px;
    }
  }