.LogoToCollapseDirection {
    flex-direction: column;
}
@media (max-width: 768px) {
    .LogoToCollapseDirection {
      flex-direction: row;
  }
}

ul {
    padding: 0px;
    margin: 0px;
}

.NavBarDirection {
    margin-top: 150px;
    text-align: right;
    flex-direction: column;
}
@media (max-width: 768px) {
    .NavBarDirection {
        margin-top: 0px;
    }
}

.CollapseButton {
    border: 3px solid var(--primary-color);
    border-radius: 0px;
    transform: skew(-3deg);
}

 .NavBarButton {
    width: 100px;
    height: 60px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border: 2px solid var(--tertiary-color);
    display: inline-block;
    transform: skew(-3deg);
}

.NavBarLogo {
    width: 100px;
    height: 60px;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: auto;

    position: absolute;
    left: 0px;
    top: 0px;
}
@media (max-width: 768px) {
    .NavBarLogo {
        margin: 0px;
    }
  }
