.container {
    color: var(--tertiary-color) ; 
    text-align: center;
    padding: 50px;
  }

.heading {
    font-size: 100px;
    color: var(--primary-color);
}

.paragraph {
    color: #ecc6c6 ;
}

.Link {
    font-family: Ubuntu, sans-serif;
    padding: 10px 20px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
}

.Link:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}