
.landingPageContainer{
    text-align: center;
    padding: 50px;
    height: auto;
}

.landingPageContent {
    color: var(--tertiary-color);
}

.landingPageVideo {
    width: auto;
}

.landingPageContent h1 {
    color: var(--primary-color);
    font-size: 75px;
}
@media (max-width: 768px) {
    .landingPageContent h1 {
        font-size: 40px;
    }
}