.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App, Main-view, Nav-bar container Media query for large screens (desktop) */
.App-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
}
.Main-view-container {
  padding: 100px;
  margin: 20px;
  border: 2px solid var(--tertiary-color);
  flex-grow: 1;
  overflow-y: auto;
}
.Nav-bar-container {
  padding: 10px;
  margin: 20px;
  border: 2px solid var(--tertiary-color);
  height: auto;
  margin-right: 0px;
  width: 20vh;
  height: auto;
}

/* App, Main-view, Nav-bar container Media query for small screens (phones) */
@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
  }
  .Main-view-container {
    padding: 10px;
    margin: 20px;
  }
  .Nav-bar-container {
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    width: auto;
    height: 10vh;
  }
}