.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App, Main-view, Nav-bar container Media query for large screens (desktop) */
.App-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url("./assets/wookie-woo-wallpaper.jpg");
  background-color: var(--secondary-color);
}
.Main-view-container {
  padding: 100px;
  margin: 20px;
  border: 2px solid var(--tertiary-color);
  flex-grow: 1;
  overflow-y: auto;
}
.Nav-bar-container {
  padding: 10px;
  margin: 20px;
  border: 2px solid var(--tertiary-color);
  height: auto;
  margin-right: 0px;
  width: 20vh;
  height: auto;
}


@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
  }
  .Main-view-container {
    padding: 20px;
    padding-top: 100px;
    margin: 20px;
  }
  .Nav-bar-container {
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    width: auto;
    height: 10vh;
    border: none;
  }
}

p, h1, li {
  color: var(--tertiary-color);
  font-family: Ubuntu, sans-serif;
}

body {
  background-color: #1a1a1a; /* dark background */
  color: #ffffff; /* white text */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebar {
  width: 200px;
  background-color: #2a2a2a;
  padding: 20px;
  border: 1px solid #ffffff;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #3a3a3a;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #4a4a4a;
}

.main-content {
  flex-grow: 1;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 50px;
}

.main-content h1 {
  font-size: 36px;
  color: #ff4c4c;
}

.main-content h2 {
  font-size: 24px;
  color: #ff4c4c;
}

.main-content p {
  font-size: 18px;
  color: #cccccc;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  background-color: #4a4a4a;
  padding: 10px;
  border: 1px solid #ffffff;
}

.logo img {
  width: 100%;
  height: auto;
}
